@charset "utf-8";
/**
通用样式
*/

/*动画*/
@keyframes flashColor{
    0%  {color: white}
    15% {color: red;}
    30% {color: orange;}
    45% {color: yellow;}
    60% {color: green;}
    75% {color: cyan;}
    90% {color: blue;}
    100% {color: purple;}
}

@-webkit-keyframes flashColor /* Safari 与 Chrome */{
    0%  {color: white}
    15% {color: red;}
    30% {color: orange;}
    45% {color: yellow;}
    60% {color: green;}
    75% {color: cyan;}
    90% {color: blue;}
    100% {color: purple;}
}

/*顶部*/
.header{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header .logo{
    width: 32px;
    height: 32px;
    display: inline;
    margin-right: 15px;
    float: left;
    background-image: url("/SpringDemo/static/res/icon/icon_logo2.ico");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;<!-- 适应容器大小 -->
}

.header h1{
    display: inline;
    color: white;
    text-align: center;
    font-size: 23px;
    font-family: Monospace, Fantasy, Serif, Georgia;
    animation: flashColor 10s linear 0s infinite alternate;
}

/*顶部导航栏*/
.navigation{
    box-sizing: border-box;
    width: 100%;
    background-color: #adadad;
    padding:10px;
}

.navigation ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.navigation ul li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation ul .li_hidden{
   visibility: hidden;
}

.navigation ul li a{
    text-decoration: none;
}

.navigation ul li a:link{
    color:white;
}

.navigation ul li a:hover:not(.nav_selected){
    color:black;
    background-color:#cdcdcd;
}

.navigation ul li a.nav_selected{
    color: #00ff00;
    text-shadow: 3px 3px 3px #cdcdcd;
}

/*内容*/
.main{
    box-sizing: border-box;
    width:100%;
    height: 100%;
    background-color:#dddddd; /*rgba(255,0,0,0.5);*/
    padding:10px;
}

/*底部*/
.footer{
    box-sizing: border-box;
    width: 100%;
    position:fixed;
    bottom: 0;
    text-align:center;
    padding:10px;
}

.footer .span_hight{
    color:blue;
}

/*返回顶部按钮*/
.back_top_icon{
    position:fixed;
    bottom:20px;
    right:20px;
    transition:background-color 0.3s;
    z-index: 99999;
}

.back_top_icon:hover{
    border-radius:50%;
    background-color:#adadad;
}