<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 加载配置属性文件: 文件上传 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:properties/minio.properties" />

    <!-- 开启controller注解支持 com.virgo.com.pc.modules.**.controller-->
    <context:component-scan base-package="com.virgo.com.pc.controller, com.virgo.com.mobile.controller">
        <context:include-filter
                type="annotation"
                expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--注册全局context-->
    <bean class="com.virgo.com.core.data.MyApplication" />

<!--    &lt;!&ndash;&lt;!&ndash; 配置使Spring采用CGLIB代理 &ndash;&gt;&ndash;&gt;-->
<!--    <aop:aspectj-autoproxy proxy-target-class="true" />-->
<!--    &lt;!&ndash; 当在web.xml 中 DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 &ndash;&gt;-->
<!--    <mvc:default-servlet-handler />-->
<!--    &lt;!&ndash; 静态资源映射&ndash;&gt;-->
<!--    <mvc:resources location="/WEB-INF/static/" mapping="/static/**" />-->

    <!-- 视图解释类 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="contentType" value="text/html" />
        <property name="prefix" value="/WEB-INF/webpage/"/>
        <!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 支持上传文件 -->
    <!-- 配置MultipartResolver 用于文件上传 使用spring的CommosMultipartResolver:
    DispatchServlet 默认从Spring的上下文中获取id为multipartResolver的bean作为它的MutipartResolver -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="${upload.max.size}"/>
        <property name="uploadTempDir" value="upload/temp"/>
    </bean>
</beans>